@model AppData.Data.ChiTietSanPham

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
